modules = ["kotlin"]

[nix]
channel = "stable-24_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Android App Runner"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "android_app"

[[workflows.workflow]]
name = "Android App Runner"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew assembleDebug && cd app/build/outputs/apk/debug && adb install -r app-debug.apk && adb shell am start -n com.ramlekhak/.MainActivity"
waitForPort = 5000

[[workflows.workflow]]
name = "android_app"
author = "agent"

[workflows.workflow.metadata]
agentRequireRestartOnSave = false

[[workflows.workflow.tasks]]
task = "packager.installForAll"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "./gradlew installDebug && adb shell am start -n com.ramlekhak/.MainActivity"

[deployment]
run = ["sh", "-c", "./gradlew assembleDebug && cd app/build/outputs/apk/debug && adb install -r app-debug.apk && adb shell am start -n com.ramlekhak/.MainActivity"]
